html {
  @apply box-border
    antialiased;

  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  @apply p-0 m-0;

  box-sizing: inherit;
}

html,
body,
[id='__next'] {
  @apply flex
    w-full
    text-black;

  font-family: Inter, -apple-system, BlinkMacSystemFont, 'San Francisco',
    'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-display: swap;
  -webkit-touch-callout: none;
  user-select: none;
}
