.container {
  @apply flex
    flex-1
    flex-col
    items-center
    justify-center
    text-center
    px-5
    md:px-0;
}

.wrapper {
  @apply flex
    flex-col
    items-center
    sm:max-w-xl;
}

.title {
  @apply text-5xl
    md:text-7xl
    font-bold;
}

.description {
  @apply mt-5
    text-2xl
    font-medium
    sm:max-w-md;
}

.info {
  @apply text-lg
    font-light
    mt-4;
}
