.container {
  @apply relative
    py-3
    sm:max-w-xl
    sm:mx-auto;
}

.backdrop {
  @apply absolute
    inset-0
    shadow-lg
    transform
    rounded-3xl
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    opacity-50;

  transform: rotate(-6deg);
}

.foreground {
  @apply flex
    justify-center
    items-center
    relative
    bg-white
    shadow-lg
    rounded-3xl
    p-20;
}

.content {
  @apply flex
    flex-col
    items-center
    justify-center;
}
