.container {
  @apply relative
    py-3
    sm:max-w-xl
    sm:mx-auto;
}

.backdrop {
  @apply absolute
    inset-0
    shadow-lg
    transform
    -skew-y-6
    sm:skew-y-0
    sm:-rotate-6
    sm:rounded-3xl
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    opacity-50;
}

.foreground {
  @apply flex
    justify-center
    items-center
    relative
    bg-white
    shadow-lg
    sm:rounded-3xl
    sm:p-20;
}

.content {
  @apply flex
    justify-center;
}
