.container {
  @apply flex
    flex-1
    flex-col;
}

.card {
  @apply mb-4
    sm:mt-8
    sm:mb-32;
}

.wrapper {
  @apply flex
    flex-1
    flex-col
    items-center;
}

.title {
  @apply text-5xl
    md:text-7xl
    font-extrabold
    tracking-tighter
    text-center;
}

.description {
  @apply flex-1
    mt-10
    text-xl
    md:text-2xl
    font-medium
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    bg-clip-text
    text-center
    tracking-tighter;

  -webkit-text-fill-color: transparent;
}

.icon {
  @apply text-xl
    inline-block
    -ml-2
    -mr-1
    md:text-4xl
    md:-ml-3
    md:-mr-2;
}

.waitlist {
  @apply mt-10;
}

.divider {
  @apply text-white
    self-center
    w-96
    h-[0.2rem]
    my-10
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    opacity-50;

  transform: rotate(-2deg);
}
