.container {
  @apply flex
    flex-1
    justify-center
    items-center;
}

.wrapper {
  @apply flex
    flex-1
    flex-col
    items-center
    md:w-[35%];
}

.title {
  @apply md:text-7xl
    font-extrabold
    tracking-[-0.05em]
    text-center;
}

.description {
  @apply mt-10
    text-xl
    md:text-2xl
    font-medium
    bg-gradient-from
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    bg-clip-text;

  -webkit-text-fill-color: transparent;
}

.icon {
  @apply text-xl
    inline-block
    -ml-2
    -mr-1
    md:text-4xl
    md:-ml-3
    md:-mr-2;
}
